projects/stock-ticker/stock-ticker-historicalquote/xsdsample/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="shares"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="custId"/>
    </xs:complexType>
  </xs:element>
</xs:schema>